In [4]:
import argparse, csv, hashlib, sys
from tqdm import tqdm

In [20]:
with open('../submissions/sub4.csv', 'w') as f:
    f.write('id,target\n')
    for row, line in tqdm(zip(csv.DictReader(open('../data/sample_submission.csv')),
                                   open('../cache/te.out'))):
        i = row['id']
        f.write('{0},{1}'.format(i, line))

892816it [00:04, 192396.35it/s]

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../submissions/sub2.csv')

In [8]:
df.head()

   id    target
0   0  0.021695
1   1  0.024100
2   2  0.020595
3   3  0.015333
4   4  0.035897

In [11]:
target = np.clip(df.target.values, a_min=0.05, a_max=0.95)

In [12]:
target

array([ 0.05,  0.05,  0.05, ...,  0.05,  0.05,  0.05])

In [13]:
pd.value_counts(target)

0.050000    769105
0.050062         6
0.052600         5
0.050355         5
0.050224         5
0.058755         5
0.057873         5
0.054199         5
0.050076         5
0.052600         5
0.050783         5
0.066341         5
0.063838         5
0.050362         5
0.052298         5
0.050957         5
0.051438         5
0.056674         5
0.064221         5
0.054261         5
0.050730         5
0.052951         5
0.051180         5
0.063528         5
0.052360         5
0.050062         5
0.052450         5
0.052908         5
0.055088         5
0.053536         5
             ...
0.052887         1
0.062270         1
0.052690         1
0.092553         1
0.057897         1
0.075534         1
0.109550         1
0.062204         1
0.085305         1
0.064581         1
0.092757         1
0.076577         1
0.089170         1
0.065238         1
0.050365         1
0.057464         1
0.071633         1
0.071038         1
0.059928         1
0.050822         1
0.095068         1
0.064591         1
0.056388         1
0.060679         1
0.092935         1
0.052313         1
0.111568         1
0.052739         1
0.063567         1
0.067537         1
Length: 103920, dtype: int64

In [14]:
np.min(target)

0.050000000000000003

In [15]:
np.max(target)

0.57140299999999999

In [16]:
df['target'] = target

In [19]:
df.to_csv('../submissions/sub3.csv', index=False)